@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --bg-color: #2D2934;
    --primary-red: #A11A26;
    --secondaru: #EFEFEF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    scrollbar-width: none;
    list-style: none;
    text-decoration: none;
}

body{
    color: var(--bg-color);
    background-color: var(--bg-color);
    
}

#header{
    border-bottom: 1px solid #efefef3a;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    padding: 1.4rem 10%;
    width: 100%;
    height: 4rem;
    top: 0;
    background-color: var(--bg-color);
    z-index: 999;
}

.navbar, a{
    color: var(--secondaru);
    display: flex;
    gap: 2rem;
}

.navbar h4, .ellen-pp{
    display: none;
}

#menu{
    display: none;
}

#hero-section{
    width: 100%;
    height: 100vh;
    display: flex;
    overflow: hidden;
    color: var(--secondaru);

}


.hero-left{
    width: 50%;
    display: flex;
    align-items: center;
    padding-left: 10%;
}

.line{
    border: 2.5px solid var(--primary);
    display: block;
    width: 17rem;
    margin: 2% 0;
    border-radius:1px;

}

#btn-menu{
    cursor: pointer;
    display: none;
}

.button-container{
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
}

.my-portfolio{
    width: 8rem;
    border: 2px solid var(--primary-red);
    height: 2.8rem;
    border-radius: none;
    background-color: var(--primary-red);
    color: var(--secondaru);
    padding: 5px 1rem;
}
.contact-me{
    width: 8rem;
    border: 1px solid var(--secondaru);
    height: 2.8rem;
    border-radius: none;
    background-color: var(--bg-color);
    color: var(--secondaru);
    padding: 5px 1rem;
}

.my-portfolio:hover{
    width: 8rem;
    background-color: #be0f1d;
    border: 2px solid ;
    height: 2.8rem;
    border-radius: none;
    border-color: #be0f1d;
    color: var(--secondaru);
    padding: 5px 1rem;
}
.contact-me:hover{
    width: 8rem;
    border: 1px solid var(--bg-color);
    height: 2.8rem;
    border-radius: none;
    background-color: var(--secondaru);
    color: var(--bg-color);
    padding: 5px 1rem;
}

.hero-right{
    width: 50%;
    position: relative; /*pppppppp*/
}

.img-ellen{
    max-width: 100vh;
    width: 100%;
    height: auto;
    position: absolute;
    bottom: -1rem;
    right: -2.5rem;
    z-index: 1;
}

.ellen-pp{
    width: 40%;
    
}
.img-bg{
    max-width: 100vh;
    width: 100%;
    height: auto;
    position: absolute;
    bottom: -10rem;
    right: -2.5rem;
    z-index: 1;
}


#about{
    padding-bottom: 14rem;
    width: 100%;
    height: auto;
    color: var(--secondaru);
    background-color: #1f1c24;
    padding: 2rem 10%;

}

.about-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    margin: 4rem 0;
}

.about-text{
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 10px;
    background-color: #ffffff25;
}

.about-button{
    width: 20rem;
    display: flex;
    justify-content: space-between;
}



.portfolio-container{
    width: 100%;
    height: 100vh;
}

#footer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 2.4rem 10%;
    background-color: #1f1c24;
    color: var(--secondaru);
    font-style: italic;
}


#project{
    height: auto;
    padding:6rem 10% 4rem 10%;
    background-color: #f4f4f4;
}

.projects-container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.project-titile{
    margin-bottom: 30px;
    color: #333;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.project-card {
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

.project-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.project-info {
    padding: 20px;
}

.project-info h3 {
    margin-bottom: 10px;
    color: #333;
}

.project-info p {
    margin-bottom: 15px;
    color: #666;
}

.project-link {
    display: inline-block;
    font-size: 1rem;
    color: #fff;
    background-color: #1e1e1e;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.project-link:hover {
    background-color: #333;
}


p {
    margin-bottom: 40px;
}

.social-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

#contact{
    padding: 4rem 10% 4rem 10%;
}
.contact-container{
    background-color: var(--bg-color);
    color: var(--secondaru);
    justify-content: space-between;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.card {
    background-color: #fff;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 250px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card img {
    width: 50px;
    margin-bottom: 15px;
}

.card h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #1e1e1e;
}

.card  {
    font-size: 1rem;
    margin-bottom: 15px;
    color: #666;
}

.card a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #1e1e1e;
    color: var(--secondaru);
    text-decoration: none;
    border-radius: 6px;
    transition: background-color 0.3s ease;
}

.card a:hover {
    background-color: #333;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
}



@media (max-width:768px) and (min-height: 576px){
    body{
        color: var(--secondaru);
        background-color: var(--bg-color);
        font-size: 14px;
    }
    
    #header {
        background-color: var(--bg-color);
        position: fixed;
        padding: 5%;
    }
    
    .navbar{
        margin-top: 4rem;
        background-color: var(--bg-color);
        border-left: 1px solid #efefef3a;
        display: none;
        text-align: center;
        flex-direction: column;
        position: absolute;
        text-align: center;
        right: 0;
        top: 0;
        padding: 5%;
        width: 15rem;
        height: 100vh;
    }
    
    .navbar.active{
        display: flex;
    }
    
    .navbar a{
        color: #efefefb7;
        border-bottom:px solid var(--secondaru);
        padding-bottom: 1rem;
        /* transition: border 0.3 linear; */
        
    }
    
    .navbar a:hover{
        color: var(--secondaru);
        /* transform: scaleX(0);
        transition: transform 0.1s linear; */
    }
    
    #btn-menu{
        display: block;
    }
    
    .profile-sidebar{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid var(--primary-red);
    }
    
    .navbar h4{
        padding-top: 1rem;
        display: block;
        width: 100%;
        border-bottom: 1px solid var(--primary-red);
        padding-bottom: 1.9rem;
    }
    
    .navbar .ellen-pp{
        display: block;
        border: 2px solid #efefefb7;
        border-radius: 50%;
    }
    
    .navbar.active{
        display: flex;
    }
    
    #hero-section, p{
        flex-direction: column;
    }

    .hero-left{
        margin-top: 30%;
        width: 100%;
        padding: 5%;
    }
    
    .line{
        border: 2px solid var(--primary-red);
        display: block;
        width: 15rem;
        margin: 2% 0;
        border-radius: 1px;
    }
    
    .hero-right{
        width: 100%;
        height: 100%;
    }
    
    
    .img-ellen{
        position: absolute;
        max-width: 100vh;
        width: 130%;
        height: auto;
        bottom: 0;
        right: -9.2rem;
    }
    
    .img-bg{
        position: absolute;
        max-width: 100vh;
        width: 110%;
        height: auto;
        right: -5.7rem;
        bottom: 0rem;
    }
    
    .button-container{
        display: flex;
        flex-direction: column;
        position: relative;
        height: 7.1rem;
        z-index: 5;
    }
    
    #about{
        padding: 5%;
    }

    .social-cards {
        flex-direction: column;
        align-items: center;
    }

}
